*{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    transition: all .3s linear;
}
html{
    height: 100%;
}
body{
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),url("bg_world_cup.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    background-color: #0D0D1D;
    height: 100%;
    max-height: 100vh;
    margin: 0;
    overflow: hidden;
}
.back{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    /* z-index: 1200; */
    background-color: #AB0551;
    bottom: 0;
    right: 0;
    margin: 1rem;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: white;
    transition: .2s;
}
.back:hover{
    animation: animatefont forwards;
    animation-duration: 3s;
}
@keyframes animatefont{
    0%{
        font-size: 24px;
    }
    15%{
        font-size: 32px;
    }
    50%{
        font-size: 32px;
    }
    100%{
        font-size: 24px;
    }
}
.parent{
    scroll-behavior: smooth;
    overflow: auto;
    height: 100%;
}
.parent::-webkit-scrollbar{
    width: 10px;
}
.parent::-webkit-scrollbar-track {
    background: transparent;
}
/* Handle */
.parent::-webkit-scrollbar-thumb {
    border-radius: 10px 10px 10px 10px ;
    background: #971b4dba;
  }
.pronostic-links{
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    text-align: center;
    box-shadow: 20px 10px 10px rgba(0, 0, 0, 0.503);
}
.pronostic-link-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
}
.pronostic-link-container a{
    width: 100%;
    text-decoration: none;
    font-weight: bold;
    background-color: #82224495;
    height: 1rem;
    color: white;
    padding: 1rem;
}
.start-game{
    background-color: #822243;
    border: none;
    outline: none;
    padding: 1rem;
    color: white;
    width: 25%;
    min-width: 400px;
}
@media screen and (max-width:400px) {
    .pronostic-link-container{
        display: grid;
        
    }
}
.links{
    background-color: #5D001D;
    border: 1px solid white;
    border-radius: 25px;
    padding: 1rem;
    text-decoration: none;
    transition: .3s;
    min-width: 20vh;
}
.links a{
    text-decoration: none;
    width: 100%;
    color: white;
}
.links:hover{
    width: 30vh;
}
.pronostic-container{
    overflow: hidden;
    scroll-behavior: smooth;
    margin-top: 5rem;
}
.pronostic-section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.pronostic-section h2{
    color: white;
    font-size: 24px;
}
.action{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    color: white;
}
.action div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}
.action button{
    background-color: #5D001D;
    border: 1px solid white;
    border-radius: 25px;
    padding: 1rem;
    color: white;
    width: 25%;
    min-width: 10rem;
}
.action button:hover{
    width: 30%;
}
.modal {
    box-shadow: var(--shadow-2), 0 0 0 100vw rgb(0 0 0 / 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    color: #222;
    border: 0;
    border-radius: 0.25rem;
    width: 75%;
    height: 75%;
    min-width: 23rem;
    max-height: 35em;
  }
  .modal::-webkit-scrollbar{
    width: 10px;
}
.modal::-webkit-scrollbar-track {
    background: transparent;
}
/* Handle */
.modal::-webkit-scrollbar-thumb {
    border-radius: 10px 10px 10px 10px ;
    background: #E0D8DC;
  }
  .modal::backdrop {
    background: rgb(0 0 0 / 0.5);
    opacity: 0;
  }
  
  .modal[open] {
    animation: slide-up .5s forwards, fade-in 500ms forwards;
  }
   .modal[open]::backdrop {
     animation: fade-in 500ms forwards;
   }
  
  .modal[closing] {
    display: block;
    pointer-events: none;
    inset: 0;
    animation: fade-out 200ms forwards;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes slide-up {
    0% {
      transform: translate(-50%,100%);
    }
    100% {
      transform: translateY(-50%,50%);
    }
  }
  
.modal h3{
    text-align: center;
}

.close-modal{
    background-color: transparent;
    width: 50px;
    height: 50px;
    font-size: 32px;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 50%;
}
.close-modal:hover{
    background-color: rgb(225, 225, 225);
    transform: rotate(360deg);
}
.modal-content-active{
    opacity: 1;
    animation: slideup;
    animation-duration: .4s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section{
    width: 100%;
    display: flex;
    justify-content: center;
}
.section-content{
    border-radius: 2rem;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.groupe{
    padding: 1px;
    min-width: 25vh;
}
.groupe-title{
    padding: .5rem;
    background-color: white;
    text-align: center;
}
.groupe .groupe-title h3{
    color: #5D001D;
}
.equipes{
    padding: .5rem;
}
.equipes .equipe{
    color: white;
    margin:.125rem ;
    background-color: #822243;
}
.equipes .equipe{
    padding: .5rem;
}
.equipes .equipe:hover{
    background-color: #5d001d7c;
}
.groupe-container{
    display: flex;
    justify-content:space-between;
    grid-template-columns: repeat(2,50%);
    text-align: center;
    gap: 1rem;
    padding: 1rem;
}
@media screen and (max-width:820px) {
    .groupe-container{
        display: block;
    }
    
} 
.groupe-matches{
    width: 100%;
}
.groupe-points{
    width: 100%;
}
.matches{
    height: 100%;
}
.match{
    margin-top: .5rem;
    background-color: rgb(232, 232, 232);
    padding: .25rem;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.match h5{
    font-size: 18px;
    font-weight: 500;
}
.table-point{
    display: grid;
}

.table{
    border-collapse: collapse;
}
.table thead{
    color: white;
    background-color: #420723;
}
.table th,td{
    padding: .5rem;
}
.table tbody tr{
    background-color: #EDE8EB;
}
.phase-finale-match-container{
    width: 30%;
    min-width: 23rem;
}
.phase-finale-match{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
    color: white;
    min-height: 2rem;
}
.equipe-flag{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: grid;
    text-align: center;
}
.flag-right{
    grid-template-columns: 75% 25%;
}
.flag-left{
    grid-template-columns: 25% 75%;
}
.equipe-flag img{
    width: 100%;
}
.phase-finale-score{
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.separator{
    height: .5px;
    background-color: #BE7291;
}
.final-result-container{
    height: 100%;
    text-align: center;
}
.final-result-container h1{
    color: #E3A83E;
}
.final-result-container h2{
    font-size: 32px;
}
.final-result-container img{
    height: 50%;
}
@font-face {
    font-family: 'Roboto';
    src:  url('fonts/Roboto-Light.ttf'),
          url('fonts/Roboto-Bold.ttf'),
          url('fonts/Roboto-Black.ttf'),
          url('fonts/Roboto-Italic.ttf')
  }